/*
nav background color: #808080
redish color: #e74c3c
lighter shade: #f09188
darker shade: #c72918
*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

body {
  background-color: #fff;
  color: #555;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/* ------------------------------------------------------ */
/* NAVIGATION BAR */
/* ------------------------------------------------------ */

.main-navbar {
  background-color: #595959;
}

.logo {
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: auto;
  float: left;
}

.main-nav li {
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e74c3c;
}

/* ------------------------------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------------------------------ */

/* --------- HEADINGS --------*/
h1,
h2 {
  font-weight: 300;
}

h1 {
  font-size: 300%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 200%;
  word-spacing: 2px;
  letter-spacing: 1px;
}

h3 {
  font-size: 100%;
}

/* --------- PARAGRAPH --------*/

p {
  font-size: 100%;
  word-spacing: 5px;
  letter-spacing: 2px;
  line-height: 150%;
}

/* ------------------------------------------------------ */
/* HOME SECTION */
/* ------------------------------------------------------ */

.home-section h1:first-of-type {
  margin-top: 150px;
}

.home-section h1:last-of-type {
  margin-bottom: 80px;
}

.home-section .social-icons {
  margin-top: 50px;
}

.home-section .social-icons a:link,
.home-section .social-icons a:visited {
  font-size: 150%;
  text-decoration: none;
  margin: 0 15px;
  color: #555;
  position: relative;
  top: 0;
  transition: top ease 0.5s, color 0.5s;
}

.home-section .social-icons a:hover,
.home-section .social-icons a:active {
  top: -10px;
  color: #e74c3c;
}

/* ------------------------------------------------------ */
/* ABOUT SECTION */
/* ------------------------------------------------------ */

.about-section {
  margin: 50px 0;
  padding: 0 20px;
  background-color: #f7f7f7;
}

.about-section h2 {
  margin: 30px 0;
}

.about-section h2:after {
  content: " ";
  height: 2px;
  display: block;
  background-color: #e74c3c;
  width: 80px;
  margin: 0 auto;
  margin-top: 30px;
}

/*
.about-section p {
  font-size: 100%;
  word-spacing: 5px;
  letter-spacing: 2px;
  line-height: 150%;
}
*/

.about-section span {
  font-size: 130%;
}

.about-section a:link,
.about-section a:visited {
  color: #e74c3c;
  border-bottom: 1px solid #e74c3c;
  padding-bottom: 3px;
  text-decoration: none;
  /*text-decoration: underline;*/
  transition: color 0.3s, border-bottom 0.3s;
}

.about-section a:hover,
.about-section a:active {
  color: #555;
  border-bottom: 1px solid transparent;
  text-decoration: none;
}

.about-section p:first-of-type {
  margin-top: 30px;
}

.about-section p:last-of-type {
  margin-bottom: 60px;
}

/* ------------------------------------------------------ */
/* PROJECT SECTION */
/* ------------------------------------------------------ */

.project-section {
  margin: 50px 0;
  background-color: #fff;
}

.project-section h2 {
  margin: 30px 0;
}

.project-section h2:after {
  content: " ";
  height: 2px;
  display: block;
  background-color: #e74c3c;
  width: 80px;
  margin: 0 auto;
  margin-top: 30px;
}

.project-cards {
  margin: 30px 0 60px 0;
}

.card {
  width: 24rem;
  margin: 30px auto;
}

.card img {
  height: 50%;
}

.card h3 {
  margin-top: 10px;
}

.card p {
  font-size: 85%;
  margin: 30px 0;
  text-align: center;
}

/* --------- LINK BUTTONS --------*/

.card .btn-full,
.card .btn-ghost {
  font-size: 80%;
  text-decoration: none;
  padding: 3px 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
}

.card .btn-full:link,
.card .btn-full:visited {
  color: #3c3c3c;
  background-color: #f09188;
  border: 1px solid #c72918;
  transition: background-color ease 0.5s, color 0.5s;
}

.card .btn-full:hover,
.card .btn-full:active {
  background-color: #e74c3c;
  color: #fff;
}

.card .btn-ghost:link,
.card .btn-ghost:visited {
  color: #c72918;
  background-color: #fff;
  border: 1px solid #c72918;
  transition: background-color ease 0.5s, color 0.5s;
}

.card .btn-ghost:hover,
.card .btn-ghost:active {
  background-color: #e74c3c;
  color: #fff;
}

.project-img {
  overflow: hidden;
}

.project-img img {
  transition: all 1.5s ease;
}

.project-img:hover img {
  transform: scale(1.5);
}

/* ------------------------------------------------------ */
/* CONTACT SECTION */
/* ------------------------------------------------------ */

.contact-section {
  margin-top: 50px;
  background-color: #f7f7f7;
}

.contact-section h2 {
  margin: 30px 0;
}

.contact-section h2:after {
  content: " ";
  height: 2px;
  display: block;
  background-color: #e74c3c;
  width: 80px;
  margin: 0 auto;
  margin-top: 30px;
}

.contact-section p:first-of-type {
  font-size: 120%;
  line-height: 140%;
  word-spacing: 5px;
  letter-spacing: 2px;
  margin: 30px 0 60px 0;
}

.contact-section .name {
  font-size: 120%;
  line-height: 140%;
  word-spacing: 3px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.contact-section .info {
  font-size: 90%;
  line-height: 120%;
  word-spacing: 3px;
  letter-spacing: 1px;
  margin: 2px 0;
}

.contact-section .info span {
  color: #555;
  transition: color ease 0.3s;
}

.contact-section .info span:hover {
  color: #e74c3c;
}

.contact-section .social-icons {
  margin: 50px 0 80px 0;
}

.contact-section .social-icons a:link,
.contact-section .social-icons a:visited {
  font-size: 150%;
  text-decoration: none;
  margin: 0 15px;
  color: #555;
  position: relative;
  top: 0;
  transition: top ease 0.5s, color 0.5s;
}

.contact-section .social-icons a:hover,
.contact-section .social-icons a:active {
  top: -10px;
  color: #e74c3c;
}

/* ------------------------------------------------------ */
/* FOOTER */
/* ------------------------------------------------------ */

footer {
  background-color: #595959;
  padding: 20px 0;
}

footer .footer-nav {
  float: left;
}

footer .social-icons {
  float: right;
}

.footer-nav li {
  margin-left: 40px;
}

.footer-nav li footer .social-icons li {
  padding: 8px 0;
}

.footer-nav li a:link,
.footer-nav li a:visited {
  color: #9d9d9d;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 70%;
  transition: color 0.3s;
}

footer .social-icons li {
  margin-left: 20px;
}

footer .social-icons li a:link,
footer .social-icons li a:visited {
  color: #9d9d9d;
  text-decoration: none;
  font-size: 90%;
  transition: color 0.3s;
}

.footer-nav li a:hover,
.footer-nav li a:active,
footer .social-icons li a:hover,
footer .social-icons li a:active {
  color: #fff;
}

footer p {
  font-size: 70%;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 120%;
  color: #9d9d9d;
}

footer p:first-of-type {
  float: left;
  margin-left: 40px;
}

footer p:last-of-type {
  float: right;
  margin-left: 40px;
}

footer p:last-of-type:hover {
  color: #fff;
}

/* ------------------------------------------------------ */
/*                                                        */
/* MY MOVIES */
/*                                                        */
/* ------------------------------------------------------ */

/* --------- LINE UNDER HEADER --------*/

.intro-section h1:after,
.goal-section h2:after,
.thought-section h2:after,
.responsive-text-section h2:after,
.lessons-section h2:after,
.improvements-section h2:after {
  content: " ";
  height: 2px;
  display: block;
  background-color: #e74c3c;
  width: 80px;
  margin: 0 auto;
  margin-top: 30px;
}

/* ------------------------------------------------------ */
/* INTRO SECTION / PROJECT PURPOSE AND GOAL */
/* ------------------------------------------------------ */

.intro-section {
  margin: 50px 0;
  /*background-color: #f7f7f7;*/
}

.intro-section h1 {
  margin: 50px 0;
}

.goal-section h2 {
  margin: 40px 0;
}

/* ------------------------------------------------------ */
/* MY MOVIES - LOGIN PAGE / SEARCH PAGE */
/* ------------------------------------------------------ */

.login-section,
.search-section {
  background-color: #f7f7f7;
}

.login-section {
  margin-top: 50px;
  padding-top: 50px;
}

.search-section {
  padding: 30px 0;
}

.login-section .login,
.search-section .search {
  padding: 50px 0;
}

/* --------- PROJECT IMAGES --------*/

.img-w80,
.img-w90,
.img-w100 {
  filter: drop-shadow(0 0 3px #666);
  transition: filter 0.4s;
}

.img-w80 {
  width: 80%;
}

.img-w90 {
  width: 90%;
}

.img-w100 {
  width: 100%;
}

.img-w80:hover,
.img-w90:hover {
  filter: drop-shadow(0 0 5px #333);
}

/* ------------------------------------------------------ */
/* MY MOVIES - SEARCH TEXT / ALL PAGE IMAGES */
/* ------------------------------------------------------ */

.search-text-section {
  margin: 50px 0;
}

.search-text-section p:first-of-type {
  margin: 30px 0;
}

.search-img-section {
  margin: 50px 0;
}

/* ------------------------------------------------------ */
/* MY MOVIES - STATUS TEXT / STATUS IMAGES */
/* ------------------------------------------------------ */

.status-section,
.status-img-section {
  background-color: #f7f7f7;
}

.status-section {
  padding: 80px 0;
}

.status-img-section {
  padding-bottom: 50px;
}

.summary-section {
  background-color: #f7f7f7;
  padding: 50px 0;
}

.summary-section p {
  margin: 20px 0 60px 0;
}

.summary-section img {
  margin-bottom: 50px;
}

/* ------------------------------------------------------ */
/* MY MOVIES - PROBLEMS AND THOUGHT PROCESS / RESP DESIGN */
/* ------------------------------------------------------ */

.thought-section,
.responsive-text-section {
  background-color: #fff;
  margin: 70px 0;
}

.thought-section p,
.responsive-text-section p {
  margin: 40px 0;
}

.responsive-img-section .row:last-of-type {
  margin: 50px 0;
}

/* ------------------------------------------------------ */
/* MY MOVIES - LESSONS LEARNED / FUTURE IMPROVEMENTS */
/* ------------------------------------------------------ */

.lessons-section,
.improvements-section {
  background-color: #f7f7f7;
}

.lessons-section {
  padding: 60px 0;
}

.improvements-section {
  padding: 10px 0 50px 0;
}

.lessons-section p {
  padding: 30px 0;
}
.improvements-section p {
  padding: 30px 0 60px 0;
}

/* ------------------------------------------------------ */
/* MEDIA QUERIES */
/* ------------------------------------------------------ */

@media (min-width: 320px) and (max-width: 480px) {
}
